.post-pay-fine {
  padding: 20px;
}

.post-pay-fine h1 {
  text-align: start;
  margin-bottom: 20px;
}

.post-pay-fine table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
}

.post-pay-fine th, .post-pay-fine td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.post-pay-fine th {
  background-color: #f2f2f2;
}

.post-pay-fine tr:nth-child(even) {
  background-color: #f9f9f9;
}

.post-pay-fine tr:hover {
  background-color: #ddd;
}